{% extends app['mp.user.template.layout'] %}
{% block mp_user_content %}
    <h4>{{'This is you'|trans}} !</h4>
    <dl>
        <dt>Username</dt>
        <dd>{{ app.security.token.user.username }}</dd>
    </dl>
    <dl>
        <dt>Email</dt>
        <dd>{{ app.security.token.user.email }}</dd>
    </dl>
    <div>
        <a href="{{ path("mp.user.route.profile.update") }}">{{'Edit Profile'|trans}}</a>
    </div>
{% endblock %}