<span class='navbar-text '>

{% if app.security.isGranted('IS_AUTHENTICATED_FULLY') %}

    Welcome back 
    <a class='' href="{{path('mp.user.route.profile.index')}}">{{ app.security.token.user.username }} </a> | 
    <a href="{{ path('mp.user.route.logout')}}">logout</a>
{% else %}
    <a href="{{path('mp.user.route.login')}}">login</a> 
    {% if app['mp.user.allow_registration']==true %} |
    <a href="{{path('mp.user.route.register')}}">Register</a>
    {% endif %}
{% endif %}
</span>
