{% extends app['mp.rdv.templates.layout'] %}
{% block content %}
<div>
{% if dinner is not null %}
<h4>{{ dinner.title }} </h4>
<p><b>When</b>: {{ dinner.eventDate|date}}</p>
<p><b>Description</b>:{{ dinner.description }}</p>
<p><b>Where</b>: {{dinner.address}}</p>
<p><b>Organizer</b>: {{ dinner.hostedBy}}</p>
<a href="{{path('rdv_dinner_update',{id:dinner.id}) }}">Edit</a> | 
<a href="{{path('rdv_dinner_index')}}">Back to index</a>
{% else %}
        no dinner found
{% endif %}
    </div>
{% endblock %}