{% extends app['mp.rdv.templates.layout'] %}
{% block content %}
<div>
    {% if dinner is not null %}
    <h4>{{ dinner.title }} </h4>
    <div class="span4">
        <p><b>When</b>: {{ dinner.eventDate|date}}</p>
        <p><b>Description</b>:{{ dinner.description }}</p>
        <p><b>Where</b>: {{dinner.address}}<br>{{dinner.city}}<br>{{dinner.country}}</p>
        <p><b>Organizer</b>: {{ dinner.hostedBy}}</p>
        <a href="{{path('rdv_dinner_update',{id:dinner.id}) }}">Edit</a> | 
        <a href="{{path('rdv_dinner_index')}}">Back to index</a>
    </div>
    <div class="span4" style='position:relative;'>
        <div id="theMap" class="map" data-address="{{dinner.address}}" 
        data-title="{{dinner.title}}" 
        data-description="{{dinner.description}}"
        data-address="{{dinner.address}}"
        data-city="{{dinner.city}}"
        data-country="{{dinner.country}}"
        data-latitude="{{dinner.latitude}}" 
        data-longitude="{{dinner.longitude}}">
    </div>
</div>
{% else %}
no dinner found
{% endif %}
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
{% include 'rdv_dinner_map.html.twig' %}
{% endblock %}