{% extends app['mp.rdv.templates.layout'] %}
{% block content %}
<h3>Upcoming dinners</h3>
<div>
  {# <p> <a class='btn' href="{{path('rdv_dinner_create')}}">Add a dinner</a></p>#}
{% for dinner in dinners %}
        <p>
            <a href="{{path('rdv_dinner_read',{id:dinner.id})}}">{{ dinner.title }}</a> on {{ dinner.eventDate|date }}</p>

{% endfor %}
        <div class="pagination  pagination-centered">
        <ul class=''>
            <li><a {% if offset > 0 %}href="?offset={{offset-1}}"{%else%}class='disabled muted'{%endif%}>Prev</a></li>
            <li><a {% if dinners|length == limit %}href="?offset={{offset+1}}"{%else%}class='disabled muted'{%endif%}>Next</a></li>

        </ul>
                </div>
    </div>   
{% endblock %}