{% extends app['mp.rdv.templates.layout'] %}
{% block content %}
<div>
    {% if dinner is not null %}
    <div class="span4">
        <h4>{{ dinner.title }} </h4>
        <dl>
            <dt>Host</dt>
            <dd>{{ dinner.hostedBy }}</dd>
        </dl>
        <dl>
            <dt>When</dt>
            <dd> {{ dinner.eventDate|date }}</dd>
        </dl>
        <dl>
            <dt>Description</dt>
            <dd>{{ dinner.description }}</dd>
        </dl>
        <dl>
            <dt>Where</dt>
            <dd>{{ dinner.address }}</dd>
            <dd>{{ dinner.city }}</dd>
            <dd><strong>{{ dinner.country|code_to_country }}</strong></dd>
        </dl>
        <dl>
            <dt>Rsvps</dt>
            {% for r in dinner.rsvps %}
                <dd>{{ r.user.username }}</dd>
            {% endfor %}
        </dl>

        <p>
            {% if app.security.token.user == dinner.host %}
                <a href="{{ path('rdv_dinner_update',{id:dinner.id}) }}">Edit</a> |
                <a href="{{ path('rdv_dinner_delete',{id:dinner.id}) }}">Delete</a> |
            {% endif %}
            <a href="{{ path('rdv_dinner_index') }}">Back to index</a>
        </p>
        {% include 'rdv_dinner_read_register.html.twig' %}
    </div>
    <div class="span4" style='position:relative;'>
        <div id="theMap" class="map" data-address="{{ dinner.address }}"
             data-title="{{ dinner.title }}"
             data-description="{{ dinner.description }}"
             data-address="{{ dinner.address }}"
             data-city="{{ dinner.city }}"
             data-country="{{ dinner.country }}"
             data-latitude="{{ dinner.latitude }}"
             data-longitude="{{ dinner.longitude }}">
        </div>
        {% else %}
            no dinner found
        {% endif %}
    </div>
    {% endblock %}
    {% block scripts %}
        {{ parent() }}
        <script type="text/javascript">
            $(function () {
                var ajax = null;
                var registerAction = function (event) {
                    var t = event.currentTarget;
                    var $rsvpmsq = $("#rsvpmsq");
                    if (ajax === null) {
                        ajax = $.get(t.getAttribute("data-url"), function (data) {
                            $rsvpmsq.fadeOut(500, function () {
                                $rsvpmsq.text(data.message);
                                $rsvpmsq.fadeIn(400);
                            });
                            return false;
                        });
                    }
                };
                $('#unregister-button').on('click', registerAction);
                $('#register-button').on('click', registerAction);
                return false;
            });

        </script>
        {% include 'rdv_dinner_map.html.twig' %}
    {% endblock %}

